<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <dir>
    JOPA:
    <a href={{ url_for('home')}}> Home</a>
    {% if not session.get('username') %}
      <a href={{ url_for('login')}}> Login</a>
      <a href={{ url_for('users')}}> Sign up</a>
    {% else %}
      <a href={{ url_for('logout')}}> Logout</a>
    {% endif %}
  </dir>
  <hr>
{%block content%}
{%endblock%}
{% with messages = get_flashed_messages()%}
  {%if messages%}
    {% for message in messages %}
    <ul class=messages>
      <font color="red">{{message}}</font>
    </ul>
    {% endfor %}
  {%endif%}
{% endwith %}
</body>
</html>
